@import "tailwindcss";

@keyframes slideIn {
  0% {
    transform: translateY(20px);
    opacity: 0;
    filter: brightness(0.9);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    filter: brightness(1);
  }
}

.animate-slideIn {
  animation: slideIn 0.5s ease-out forwards;
}


